

.left .item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    
}

.right .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

h3 + p {
    display: flex;
    justify-content: flex-end;
    color: white;
    background: var(--color-bg-variant);
    padding: 1rem;
    max-width: 650px;
    font-size: small;
    text-align: right;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: center;
    gap: 2rem;
    transform: translate(-80px, 20px);



}

.left .text {
    text-align: start;
    transform: translate(80px, 20px);

}


.portfolio_item-image img {
    width: 30vw;
    max-width: 900px;
    max-height: 550px;
    object-fit: cover;
    object-position: top center;
    transition: all 6s ease-in-out ;

}


.portfolio_item-cta {
    display: flex;
    gap: 2vw;
    justify-content: end;
    font-size: small;
}

.left .portfolio_item-cta {
    display: flex;
    gap: 2vw;
    justify-content: start;
    font-size: small;
}


.text h3{
    font-size: 2vh;
}


.portfolio_item-image img:hover{
    object-position: bottom center;
}

h4 {
    display: flex;
    justify-content: end;
    font-size: 1.5vw;
    gap: 2vw;
    color: aqua;
}

.left h4 {
    justify-content: start;
}


/* ============= Media Queries ============== */


@media screen and (max-width:960px){

    .portfolio_container {
        gap: 20vh;
    
    }


    h3 + p {
        color: white;
        background: var(--color-bg-variant);
        text-align: center;
    }

    .portfolio_item-image img {
            display: none;
    
    }

    .text {
        text-align: center;
        transform: translate(0);   
    
    }

    h4 {
        justify-content: center;
        font-size: 4vh;
        gap: 3.5vw;
    }
    

    .portfolio_item-cta {
        display: flex;
        justify-content: center;
        font-size: medium;
    }

    .left .text {
        text-align: center;
        transform: translate(0);
    
    }

    .left h4 {
        justify-content: center;
    }

    .left .portfolio_item-cta  {
        justify-content: center;
        font-size: medium;
    }

    .text h3 { 
        font-size: 25px;
    }
    


}










