#portfolio{
    height: 100%;

}


.portfolio_container {
    display: grid;
    gap: 10vw;
    justify-content: center;
    align-items: center;

}

.left .item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    
}

.right .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

h3 + p {
    display: flex;
    justify-content: flex-end;
    color: white;
    background: var(--color-bg-variant);
    padding: 1rem;
    max-width: 650px;
    font-size: small;
    text-align: right;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: center;
    gap: 2rem;
    transform: translate(-80px, 20px);



}

.left .text {
    text-align: start;
    transform: translate(80px, 20px);

}


.portfolio_item-image img {
    width: 30vw;
    max-width: 900px;
    max-height: 550px;
    overflow: scroll;
    z-index: 3; 
    filter:opacity(70%);
    mix-blend-mode: screen;

}


.portfolio_item-cta {
    display: flex;
    gap: 2vw;
    justify-content: end;
    font-size: small;
}

.left .portfolio_item-cta {
    display: flex;
    gap: 2vw;
    justify-content: start;
    font-size: small;
}


.text h3{
    font-size: 2vh;
}


.portfolio_item-image img:hover{
    filter: opacity(100%);
}

h4 {
    display: flex;
    justify-content: end;
    font-size: 1.5vw;
    gap: 2vw;
    color: aqua;
}

.left h4 {
    justify-content: start;
}


/* ============= Media Queries ============== */


@media screen and (max-width:960px){

    .portfolio_container {
        gap: 20vh;
    
    }


    h3 + p {
        color: white;
        background: var(--color-bg-variant);
        text-align: center;
    }

    .portfolio_item-image img {
            display: none;
    
    }

    .text {
        text-align: center;
        transform: translate(0);   
    
    }

    h4 {
        justify-content: center;
        font-size: 4vh;
        gap: 3.5vw;
    }
    

    .portfolio_item-cta {
        display: flex;
        justify-content: center;
        font-size: medium;
    }

    .left .text {
        text-align: center;
        transform: translate(0);
    
    }

    .left h4 {
        justify-content: center;
    }

    .left .portfolio_item-cta  {
        justify-content: center;
        font-size: medium;
    }

    .text h3 { 
        font-size: 25px;
    }
    
/* 
    .portfolio_item{
        display: flex;
        padding: 0;
        flex-direction: column;
        width: 85vw;
        min-width: 90%;
        height: 100%;
        transition: none;
        filter: grayscale(0%);
        contain: strict;

    }

    .portfolio_container{
        gap: 10vh;
    }

    .portfolio_item-image {
        grid-column-start: 0;
        grid-column-end: 3;
        

               
    }

    h3 {
        text-align: center;
        font-size: 3vw;
        margin-top: 0;
    }

    p {
        font-size: 1.5vw;
        max-width: 900px;
        padding-bottom: 1vh;
    }
    
    h4 {
        font-size: 4vw;
        margin-bottom: 1vh;
        margin-top: 0;
    }

    .portfolio_item-image img {
        height: 250px;
        border-radius: 20px;
        min-width: 350px;

    } */

}




@media screen and (max-width:600px){


    /* .portfolio_item{
        display: flex;
        flex-direction: column;
        filter: grayscale(0%);
        justify-content:flex-start;
        transition: none;
        width: 90vw;

    }

    .portfolio_container{
        gap: 10vh;
    }


    h3 {
        text-align: center;
        font-size: 3vw;
        margin-top: max(5vh, 4px);
    }

    p {
        font-size: 2.7vw;
        max-width: 900px;
        margin-bottom: 2vh;

    }
    
    h4 {
        font-size: 6vw;
        margin-bottom: 5vh;
        margin-top: min(1vh, -5px);
    }

    .portfolio_item-image img {
        height: 250px;
        border-radius: 35px;
        min-width: 330px;
        margin-top: 1vh;

    } */

}






