#about {
    height: 90vh;
    min-height: 800px;
}

.about_container {
    display: grid;
    grid-template-columns:35% 54%;
    gap: 15%;
}

.about_me {
    width: 100%;
    aspect-ratio: 1/.80;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    );
    display: grid;
    place-items: center;
}

.about_me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about_me-image:hover{
    transform: rotate(0deg);
}

.about_content p {
    color: var(--color-white);
    text-align: center;

}
/* ============= Media Queries ( Tablet ) ============== */

@media screen and (max-width:1024px){

    #about {        
        height: 90vh;
        min-height: 980px ;

    }

    .about_container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about_me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about_content p {
        margin: 1rem 0 1.5rem;
        text-align: center;
    }

    .about_content a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

}




/* ============= Media Queries ( Mobile ) ============== */
@media screen and (max-width:600px){

    #about {
        height: 125vh;
        max-height: 1150px;
    }
    .about_me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about_content {
        text-align: center;
    }

    .about_content p {
        margin: -1vh -5vw 5vh -5vw;
        font-size: 3.4vw;
    }


}





