#contact {
    height: 100%;
    margin-top: 25vh;
    
}

#contact h2 {
    font-size: 5vh;
}

#contact h5 {
    font-size: 1.5vh;

}

.contact_buttons{
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 10vh;
    font-size: max(.9vw, 19px);

}

.container_contact p{
    text-align: center;    
    font-size: max(.8vw, 19px);
    margin-top: 5vh;
    padding-left: 30vw;
    padding-right: 30vw;
}

/* ============= Media Queries ============== */


@media screen and (max-width:960px){

    .contact{
        height: 600vh;
        min-height: 1550px ;

    }

    #contact h5{
        font-size: 2.5vw;
    }
    
    #contact h2{
        font-size: 4vw;
        
    }

    .container_contact p{
        padding: max(1vw, 100px);
        font-size: 2.5vw;
    }

    .contact_buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 9vw;
        font-size: 2.5vw;
    }

}


@media screen and (max-width:600px){

    #contact{
        height: 100%;


    }

    .container_contact p{
        padding: max(1vw, 40px);
        font-size: 4vw;
    }

    .contact_buttons {
        margin-top: 15vw;
        font-size: 3.5vw;
    }

}
