header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    background-image: linear-gradient(rgba(18, 27, 65, 0.349) 70%, #1f1f38 95%), url('../../assets/background.webp');
    background-size: cover;
    background-position: center center;

}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

.Typewriter__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    font-size: 3.5vw;
    font-size: 3.5vh;
    font-weight: 900;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #ec00f8 25%, #2BD2FF 50%, #2BFF88 90%);   
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}


/* ============= CTA ==================*/

.cta {
    margin-top: -5rem;
    margin-bottom: 20vh;
    margin-right: -10vw;
    display: flex;
    gap: 1.2rem;
    justify-content: end;
}

/* ============= Socials ==================*/


.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
    position: absolute;
    bottom: 3rem;
    font-size: max(.9vw, 19px);
}


.header_socials a {
    color: white;
    font-size: 2.2vh;
}


.header_socials a:hover {
    color: rgb(73, 218, 218);
}

.header_socials::after{
    content: '';
    width: 2px;
    height: 3.5rem;
    background: white;
}



/* ============= Scroll Down ==================*/


.header_email{
position: absolute;
right: -4rem;
bottom: 7rem;
transform: rotate(90deg);
font-weight: 300;
font-size: 1.2rem;

}

.header_email a {
    color: white;
}

.header_email a:hover {
    color: rgb(73, 218, 218);
}


/* ============= Media Queries ( Tablet ) ============== */

@media screen and (max-width:960px){
    header {
        height: 100vh;
        padding-top: 1rem;

    }

    .header_socials, .header_email {
        margin-bottom: 6vh;
        
    }

    .cta {
        margin-top: 1rem;
        margin-bottom: 10vh;
    }

    .Typewriter__wrapper {
        margin-top: 0;
        font-size: 3.8vh;
    
    }

}


/* ============= Media Queries ( Mobile ) ==============*/
@media screen and (max-width:600px){

    header {
        object-fit: fill;
    }


    .header_socials, .header_email {
        display: none;
    }


    .cta {
        margin-top: .5rem;
        margin-bottom: 5vh;
        margin-right: auto;
        display: flex;
    }


    .Typewriter__wrapper {
        display: flex;
        margin-top: 0;
        font-size: 3.8vh;
    
    }

    .cta .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5vh; 

    }

}