footer {
    background: var(--color-bg);
    padding: 3rem 0;
    text-align: center;
    font-size: 1rem;
    margin-top: 10rem;
    margin-bottom: 1rem;

}


footer a {
    width: 10vw;
}

.footer_logo {
    display: inline-block;
}

.footer_copyright {
    margin-bottom: 3rem;
    color: var(--color-white)
}





@media screen and (max-width: 960px ){

    footer {
        padding: 3rem 0;
        margin-top: 2rem;

    }
    footer a {
        width: 25vw;
        color: var(--color-bg);
    }
}
