#tech_stack {
    display: grid;
    grid-template-areas: '1 1 1 1 1';
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-size: 14px;
    position: absolute;
    bottom: 17vh;
    left: 53%;
    transform: translateX(-50%);
}


.stack_icon img {
    height: 3vh;
    width: 3vh;
    justify-content: center;
    }


.stack_cards {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: '1 1 1 1 1';
    gap: .5vw;


}


.stack_icon {
    display: grid;
    place-items: center;
    background-color: whitesmoke;
    padding: 1vh;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(250,250,250, .3)
}



/* ============= Media Queries ( Tablet ) ============== */

@media screen and (max-width:960px){

    .stack_icon img {
        min-width: 35px;
        min-height: 35px;
        }

    #tech_stack {
        position: absolute;
        grid-template-areas: '1';
        bottom: 28vh;
        left: 53%;
        gap: 1.5vh;
        transform: translateX(-50%);
    }
}


/* ============= Media Queries ( Mobile ) ============== */
/* @media screen and (max-width:600px){

    #about_stack{
        height: 120vh;
        min-height: 800px;
    }

} */

